h1{
    color: #500404;
    font-weight: normal;
    font-size: 40px;
    font-family: Arial;
    }
h4{
    color: #500404;
    font-weight: normal;
    font-size: 25px;
    font-family: Arial;
}
button{
    background:    #ffffff;
    border:        3px solid #000000;
    border-radius: 1000px;
    padding:       20px 45px;
    color:         #ffffff;
    display:       inline-block;
    font:          italic bold 24px/1 "Arvo", serif;
    text-align:    center;
    text-shadow:   1px 1px #000000;
}
