<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="style.css" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> {% block title %} {%endblock%} </title>
</head>
<body>
    <h2> Banda : </h2>
    {% for i in banda %}
        <p>Instrumento: {{ i }}</p>        
    {% endfor %}

    {% block  content%}    
    {% endblock %}


    <button onclick="location.href='preparar'">Afinar Banda</button>
    <button onclick="location.href='tocar'">Tocar Banda</button>
    <button onclick="location.href='banda'">Nueva Banda</button>



</body> 
</html>