h1{
    color: #6c2eb9;
    font-weight: normal;
    font-size: 40px;
    font-family: Arial;
    text-transform: uppercase;  
}
h4{
    color: #4f4866;
    font-weight: normal;
    font-size: 25px;
    font-family: Arial;
}
button{
    background:    #eeeeee;
    background:    linear-gradient(#eeeeee, #a3f1a3);
    border-radius: 1000px;
    padding:       20px 30px;
    color:         #ffffff;
    display:       inline-block;
    font:          normal bold 25px/1 "Calibri", sans-serif;
    text-align:    center;
    text-shadow:   1px 1px #000000;
}