h1{
    color: blue
}
button{
    background:    #53d1a8;
    border:        1px solid #556699;
    border-radius: 1000px;
    padding:       15px 45px;
    color:         #ffffff;
    display:       inline-block;
    font:          normal bold 24px/1 "Open Sans", sans-serif;
    text-align:    center;
}